<div class="container" style="width:60%;margin-left:auto;margin-right:auto;">
	
	<h1><%= @professor.nome %></h1>

	<hr>

	<div style="margin-left:20px;font-size:16px;">
		E-mail: <%= @professor.email %><br/>
	</div>

	<hr>
	<p><b>Atendimentos</b></p>


	<% dia_anterior = "0" %>
	<% horario = "" %>

	<% @atendimentos.each do |a| %>
		<% if a.dia == dia_anterior %>	
			<% horario = horario+" e das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
		<% else %>
			<% if a.dia=="1" %>
				<% horario = horario+"#Segunda-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="2" %>
				<% horario = horario+"#Terça-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="3" %>
				<% horario = horario+"#Quarta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="4" %>
				<% horario = horario+"#Quinta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
			<% if a.dia=="5" %>
				<% horario = horario+"#Sexta-feira das "+a.hora_inicio.strftime('%k:%M')+" às "+a.hora_fim.strftime('%k:%M')%>
			<% end %>
		<% end %>
		<% dia_anterior=a.dia %>
	<% end %>

	<% horario=horario.split("#") %>

	<% horario.each do |h| %>
		<% if h != "" %>
			<%= h %><br>
		<% end %>
	<% end %>


</div>