<!doctype html>
<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Seu comentário</h1>

	<hr>

	<%= form_for @comentario, :class => 'form-signin' do |f| %>
		<div class="form-group">
			<%= f.text_area(:conteudo, cols: 35) %>
		</div>
		<%= link_to "Cancelar", url_for(:controller => 'home', :action => 'login'), class:"btn btn-default" %> 
		<%= submit_tag 'Comentar', class:"btn btn-default" %>
		<% end %>

		<hr>

</div>