<div style="width:70%;padding:10px;">
	
	<h2>Resoluções de exercícios</h2>

	<hr>
	
	<div style="margin-left:20px;">


		<% @arquivos.each do |a| %>

			<% file = a.arquivo_nome+"."+a.extensao %>

			<%= link_to a.nome, "/uploads/#{file}" %>  |  
			<%= link_to "Post original", "../posts/#{a.post_id}" %><br>

		<% end %>

		</table> 

	</div>

	<hr>

	</center>

</div>