<div class="container" style="width:30%;margin-left:auto;margin-right:auto;">
	
	<h1>Acesso do Professor</h1>

	<%= link_to "Inserir disciplina", "/acessorestritojosiane/disciplina", class:"" %>
	<%= link_to "Editar atendimento", "/acessorestritojosiane/atendimento", class:"" %>
	<%= link_to "Inserir arquivo", "/acessorestritojosiane/arquivo", class:"" %>
	<%= link_to "Inserir notas e presenças", "/acessorestritojosiane/notas_presencas", class:"" %>

</div>